body {
    margin: 0;
    background-color: #1f1f1f;
}

.gauge {
    width: 100%;
    max-width: 250px;
    font-family: "Roboto", sans-serif;
    font-size: 32px;
    color: #004033;
    margin: 0px auto;
}
   
.gauge__body {
    width: 100%;
    height: 0;
    padding-bottom: 50%;
    background: #b4c0be;
    position: relative;
    border-top-left-radius: 100% 200%;
    border-top-right-radius: 100% 200%;
    overflow: hidden;
}
  
.gauge__fill {
    position: absolute;
    top: 100%;
    left: 0;
    width: inherit;
    height: 100%;
    background: #009578;
    transform-origin: center top;
    transform: rotate(0.25turn);
    transition: transform 0.2s ease-out;
}

.gauge__cover {
    width: 75%;
    height: 150%;
    background:#242424;
    position: absolute;
    border-radius: 50%;
    top: 25%;
    left: 50%;
    transform: translate(-50%); 

    /* Text */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 25%;
    box-sizing: border-box;
    color: lightseagreen;
}

header {
    font-size: 2.8em;
    font-family: sans-serif;
    margin: 0px;
    background-color: teal;
    color: white;
    padding: 10px 30px;
}

.sub__title {
    background-color: darkcyan;
    padding: 10px 20px;
    color: white;
}

.container {
    background-color: #242424;
    margin: 20px 20px;
    border-radius: 15px;
    width: inherit;
}
.heading {
    background-color: lightseagreen;
    padding: 0.5px 40px;
    color: white;
    font-size: 1em;
    font-family: sans-serif;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.element {
    margin: 10px auto;
    text-align: center;
    padding: 15px 10px 5px 10px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.zone p {
    font-size: 1.2em;
    font-family: sans-serif;
    color: lightseagreen;
}
.grid-wrapper
{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.panel {
    width: 400px;
}
.video {
    width: 600px;
}
.command {
    width: 350px;
}
.btn {
    background-color: #1f1f1f;
    color: lightseagreen;
    padding: 20px;
    height: 70px;
    width: 70px;
    border: 1px solid turquoise;
    border-radius: 10px;
}
.btn :hover {
    cursor: pointer;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    padding: 10px;
}

.item1 {
    grid-column-start: 2;
    grid-column-end: 3;
}
.item2 {
    grid-column-start: 1;
    grid-column-end: 2;
}
.item3 {
    grid-column-start: 3;
    grid-column-end: 4;
}
.item4 {
    grid-column-start: 2;
    grid-column-end: 3;
}
.item5 {
    grid-column-start: 2;
    grid-column-end: 3;
}
.cmd_list {
    list-style: none;
    font-family: monospace;
    padding: 10px 10px;
}
.cmd_list button {
    border: none;
    padding: 10px 20px;
    margin: 10px 5px;
    text-align: center;
    border-radius: 10px;
    background-color: teal;
    width: 100%;

}